body{
    font-family: Arial, Helvetica, sans-serif;
}

html,body,h1,h2,h3,h4,h5,h6,p,ul,li,div,a{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width:1000px;
    margin: 0 auto;
}
/* Header */
.header {
    background-color: rgb(255, 255, 255);
    color: rgb(61, 74, 88);
    height: 65px;
}
  
.header-logo {
    float: left;
    padding: 18px 0px;
}
.img-logo{
    width: 150px;
}
  
.header-list{
      float: right;
}

.header-list li {
    display: inline-block;
    font-size: 14px;
    float: left;
    padding: 22px;
    cursor: pointer;
    background-color: rgba(255, 238, 160, 0);
    transition: all 0.3s;
}

.header-list li:hover{
    background-color: rgba(255, 238, 160, 0.5);
}
/* end of header */

/* top main */

.main-wrapper{
    height: 500px;
    padding: 70px 0 100px 0;
    margin-bottom: 100px;
    color: #112A46;
}

.top-main-left{
    float: left;
    padding-top: 20px;
}

.top-main-info-pOne{
    font-size:33px;
    line-height: 42px;
    font-weight: bold;
}
.top-main-info-pTwo{
    font-size:33px;
    font-weight: normal;
    line-height: 42px;
}

.top-main-info-panda{
    padding: 70px 0 30px 0;
    font-size: 20px;
} 
  
  .btn {
    width: 200px;
    margin-top: 50px;
    padding: 12px;
    color: #112A46;
    display: inline-block;
    text-align: center;
    border-radius: 100px;
    font-weight: bold;
    background-color: #FFD011;
    margin-right: 15px;
    transition: all 0.3s;
  }

  .btn:hover{
      background-color:rgb(255, 225, 106);
  }

.top-main-right{
    float: right;
    height: 500px;
}

.top-main-right img{
   height: 100%;
}
  
/* end of main */

/* Stlye Main Content */
.container{
    margin: 0 auto;
    width: 80%;

}

.main{
    
}
/* .main-title */
.main-title{
    padding: 10px;
    background-color: #efefef;
}
.main-title h1{
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    font-family: sans-serif;
}
.main-title p{
    text-align: center;
    font-size: 0.8em;
}
/* .main-card */
.main-card{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eaeaea;
}
.card-portrait{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
}
.content-portrait{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    background-color: blue;
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.content-portrait img{
    padding: 5px;
    width: 160px;
    height: 180px;
}
.text{
    padding: 10px;
    font-family: sans-serif;
}
.text p{
    text-align: center;
    /* font-weight: bold; */
}
.text h1{
    font-size: 2em;
}
.text h1 span{
    font-size: 0.5em;
}


.card-landscape{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
}
.content-landscape{
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: white;
    width: 300px;
    height: 150px;
    border-radius: 5px;
}
.content-landscape img{
    opacity: 80%;
    width: 220px;
    height: 150px;
    border-radius: 5px;
}

.card-landscape .text{
    position: absolute;
    margin-top: 1vh;
    margin-left: -6%;
}
.card-landscape .text p{
    text-align: left;
}

.color-1{background-color: #69C2A9;}
.color-2{background-color: #FDCC56;}
.color-3{background-color: #9C9CF6;}
.color-4{background-color: #FEF60E;}
.color-5{background-color: #ddcfcc;}
.color-6{background-color: #dcb8a8;}
.color-7{background-color: #c0cbd1;}

/*KB*/
.kebutuhan-budidaya {
  background-color: #FFE4E1;
  padding: 20px;
}
.judul-kb {
  text-align: center;
}
.main-kb p {
  padding-top: 0.2px;
}
.spesifikasi {
  float: left;
}
.list-kb {
  width: 100px;
  text-align: center;
}

/*Map */
.contents-map {
    height: 500px;
    margin-top: 50px;
    padding: 10px 100px 100px 100px;
}

.section-title {
    font-size: 35px;
    margin-bottom: 30px;
}

.contents-item {
    float: left;
    margin-right: 20px;
    width: 30%;
}
.img-map {
    margin-top: 15px;
    width: 100%;
    height: 100%;
}

.contents-item h4 {
    font-size: 15px;
    padding: 10px 25px;
    color: white;
    font-family: Arial;
    background-color: #528AAE;
    display: inline-block;
    border-radius: 35px;
    margin-bottom: 10px;
}

.contents-item p {
    font-size: 18px;
    margin-top: 0px;
}



/*footer*/
footer{
    background-color: #FF9D00;
    height: 50px;
    color: #29343F;
}

.footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.logo-footer{
    padding: 15px 0;
    height: 50px;
}

.logo-footer img{
    width: 100px;
}

.copyright{
    font-size: 12px;
}

.designer{
    font-size: 12px;
}

