*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    background-color: #fff;
    color: rgb(3, 15, 37);
    font-family: Arial;
    font-weight: bold;
    height: 90px;
}
  
.header-logo {
    margin-left: 11%;
    float: left;
    font-size: 36px;
    padding: 25px 0px 0px 0px;
}
.img-logo{
    width: 50%;
    height: 30%px;
}
  
.header-list{
      float: right;
      padding-right: 10%;
}

.header-list li {
    float: left;
    padding: 33px 20px;
}
li {
    list-style: none;
}
/* endk of header */

/* top main */
.container-top-main{
    margin: 0 auto;
    width: 80%;
    
}
.top-main-left{
    float: left;
    padding: 100px 150px 10px 0px ;
}
.top-main-right{
    padding: 60px 10px 10px 300px ;
}
.top-main-info-pOne{
    font-size:30px;
    padding: 5px;
    font-family: Arial;
    font-weight: bold;
}
.top-main-info-pTwo{
    padding: 5px;
    font-size:20px;
    font-family: Arial;
}
.top-main-btn{
    padding-top: 40px;
    margin: 20px 0;
}
  
  .top-main-btn p {
    margin-left: 10px;
  }
  
  .peternak {
    background-color:yellow;
    margin-right: 10px;
    text-decoration:none
  }
  
  .penjual {
    background-color: yellow;
    text-decoration:none
  }
  
  .btn {
    margin-top: 20px;
    padding: 10px 50px 10px 50px;
    color: rgb(0, 0, 0);
    display: inline-block;
    opacity: 0.8;
    border-radius: 100px;
  }
  
/* end of main */

/* Stlye Main Content */
.container{
    margin: 0 auto;
    width: 80%;

}

.main{
    
}
/* .main-title */
.main-title{
    padding: 10px;
    background-color: #efefef;
}
.main-title h1{
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    font-family: sans-serif;
}
.main-title p{
    text-align: center;
    font-size: 0.8em;
}
/* .main-card */
.main-card{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eaeaea;
}
.card-portrait{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
}
.content-portrait{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    background-color: blue;
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.content-portrait img{
    padding: 5px;
    width: 160px;
    height: 180px;
}
.text{
    padding: 10px;
    font-family: sans-serif;
}
.text p{
    text-align: center;
    /* font-weight: bold; */
}
.text h1{
    font-size: 2em;
}
.text h1 span{
    font-size: 0.5em;
}


.card-landscape{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
}
.content-landscape{
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: white;
    width: 300px;
    height: 150px;
    border-radius: 5px;
}
.content-landscape img{
    opacity: 80%;
    width: 220px;
    height: 150px;
    border-radius: 5px;
}

.card-landscape .text{
    position: absolute;
    margin-top: 1vh;
    margin-left: -6%;
}
.card-landscape .text p{
    text-align: left;
}

.color-1{background-color: #69C2A9;}
.color-2{background-color: #FDCC56;}
.color-3{background-color: #9C9CF6;}
.color-4{background-color: #FEF60E;}
.color-5{background-color: #ddcfcc;}
.color-6{background-color: #dcb8a8;}
.color-7{background-color: #c0cbd1;}



.contents-map {
    height: 500px;
    margin-top: 50px;
    padding: 10px 100px 100px 180px;
}

.section-title {
    font-size: 35px;
    margin-bottom: 30px;
}

.contents-item {
    float: left;
    margin-right: 20px;
    width: 30%;
}

.contents-item h4 {
    font-size: 18px;
    padding: 10px 25px;
    background-color: #528AAE;
    display: inline-block;
    border-radius: 35px;
    margin-bottom: 10px;
}

.contents-item p {
    font-size: 18px;
    margin-top: 0px;
}

.contents-item img {
    width: 250px;
}


/*footer*/
footer{
    background-color: #FF9D00;
    height: 50px;
    color: #29343F;
}

.footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.logo-footer{
    padding: 15px 0;
    height: 50px;
}

.logo-footer img{
    width: 100px;
}

.copyright{
    font-size: 12px;
}

.designer{
    font-size: 12px;
}

