*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stlye Main Content */
.container{
    margin: 0 auto;
    width: 80%;

}

.main{
    
}
/* .main-title */
.main-title{
    padding: 10px;
    background-color: #efefef;
}
.main-title h1{
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    font-family: sans-serif;
}
.main-title p{
    text-align: center;
    font-size: 0.8em;
}
/* .main-card */
.main-card{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #eaeaea;
}
.card-portrait{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
}
.content-portrait{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    background-color: blue;
    width: 300px;
    height: 250px;
    border-radius: 5px;
}
.content-portrait img{
    padding: 5px;
    width: 160px;
    height: 180px;
}
.text{
    padding: 10px;
    font-family: sans-serif;
}
.text p{
    text-align: center;
    /* font-weight: bold; */
}
.text h1{
    font-size: 2em;
}
.text h1 span{
    font-size: 0.5em;
}


.card-landscape{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 85%;
}
.content-landscape{
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: white;
    width: 300px;
    height: 150px;
    border-radius: 5px;
}
.content-landscape img{
    opacity: 80%;
    width: 220px;
    height: 150px;
    border-radius: 5px;
}

.card-landscape .text{
    position: absolute;
    margin-top: 1vh;
    margin-left: -6%;
}
.card-landscape .text p{
    text-align: left;
}

.color-1{background-color: #69C2A9;}
.color-2{background-color: #FDCC56;}
.color-3{background-color: #9C9CF6;}
.color-4{background-color: #FEF60E;}
.color-5{background-color: #ddcfcc;}
.color-6{background-color: #dcb8a8;}
.color-7{background-color: #c0cbd1;}